body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav { /* nav en haut de la page */
  background-color: #f8f8f8;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;  
}

nav ul {  /* disposition du texte du nav */
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;  
}

nav ul li {   /* listes du nav */
  margin-right: 20px;
}

nav ul li a { /* couleur du texte du nav et enlèvement des  decorations du texte */
  text-decoration: none;
  color: #333;
  
}

nav ul li a.active {  /* barre orange en dessous de "MON COMPTE" */
  border-bottom: 2px solid #FFAA00;
}

main {    
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 70vh;
  padding: 20px;
}

.tab-content {
  width: 100%;
  display: flex;
}

aside {
  width: 200px;
  margin-right: 20px;
}

aside ul {  /* liste a gauche */
  list-style: none;
  padding: 0;
  margin: 0;
}

aside ul li {
  margin-bottom: 10px;
}

.side-button {  /* forme et couleurs des listes a gauche */
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f8f8f8;
  cursor: pointer;
  text-align: left;
  border-radius: 20px;
}

.side-button.active, .side-button:hover { /* forme et couleurs des listes a gauche */
  background-color: #FFAA00;
  color: #fff;
  border-radius: 20px;
}

.account-section {  /* formulaire */
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  width: 70%;
}

.account-section h2 { /* formulaire */
  margin-top: 0;
}

.form-group {   /* formulaire */
  margin-bottom: 15px;
}

.form-group label { /* barre de recherche Agence Elitcar */
  display: block;
  margin-bottom: 15px;
}

.form-group input, .form-group select { /* style de la barre de recherche Elitcar */
  width: calc(75% - 20px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.bloc p {
    font-size: 0.9em;
}

@media screen and (max-width: 1499px) {
  .bloc {
      width: 500px;
      margin: 0 auto;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }

  .account-section {
    height: 200px;
    width: 140%;
  }

  .links {
    display: flex;
    gap: 1rem;
  }
  
}


